.mainContent {
    font-size: 2.5em;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
    background-color: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
}

.sectionMain {
    padding: 20px;
}

button {
    padding: 0px 33px 0px 33px;
    border-radius:46px !important;
    height: 46px;
    color: white;
    border: 2px solid #ffffff;
    background-color: transparent;
}

button:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
}
/*media queries*/
/*Tablette*/
@media screen and (min-width: 425px) {
    .mainContent {
        font-size: 2.5em;
        line-height: 1.0625;
        font-weight: 600;
    }

}

/*Ecran Moyen desktop*/

@media screen and (min-width: 768px) {


}

/*Ecran Large desktop*/

@media screen and (min-width: 1200px) {


}
